#searching{
    height: 50%;
    width: 30%;
/*    background-color: rgba(226,226,226,1);*/
    background-color:  linear-gradient(left, rgba(226,226,226,1) 0%, rgba(209,209,209,1) 31%, rgba(219,219,219,1) 99%, rgba(254,254,254,1) 100%);

    box-shadow: -5px 5px 30px 0px rgba(5,5,5,5);
    border-radius: 1%;
    margin-left: 1%;
}

#searching #title{
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: 1px black solid;
}

#searching form{
    padding: 5%;
}

#searching label{
    text-transform: uppercase;
    position: relative;
    left: -
}
#searching .selection select{
    width: 150px;
    float: left;
}



#searching #findButton{
    width: 80%;
    padding-top: 2
}